:root {
  /* CTAs  Focused  Active states  Links */
  --iris: #4d5ae5;
  /* CTAs */
  --ocean: #404bbf;
  /* Overlays Shadows Headings */
  --navy-blue: #2e2f42;
  /* Valid fields Success messages */
  --green: #31d0aa;
  /* Body text */
  --slate: #434455;
  /* Helper text Deemphasized text */
  --light-slate: #8e8f99;
  /* Accent colorn Hairlines Subtle backgrounds */
  --cornflower: #e7e9fc;
  /* Light mode backgrounds
Light mode Dialogs/alerts */
  --cloud: #f4f4fd;
  /* Overlay */
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  /* Hero image background */
  --grey: rgba(46, 47, 66, 0.7);
  /* Header,  team card background */
  --white: #ffffff;
  /* Modal background */
  --dairy: #fcfcfc;
}
/* 
скидання стилів і приховування заголовків 
*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}
.contacts {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

body {
  background-color: var(--white);
  color: var(--slate);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* флекс контейнери */
.container {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* 
ХЕДЕР 
*/
.header .container {
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid var(--cornflower);
}

/*
 логотип 
 */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
  margin-right: 76px;
}

.header .logo-studio {
  color: var(--navy-blue);
}
.footer .logo-studio {
  color: var(--cloud);
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav,
.list.address {
  display: flex;
  gap: 40px;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

.site-nav-link {
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: block;
  padding: 24px 0;
}

.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
  display: block;

  padding: 24px 0;
}

/* ГЕРОЙ */
.hero {
  background-color: var(--navy-blue);
  text-align: center;
  color: var(--white);
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin: 48px;
  max-width: 496px;
}

.hero .container {
  flex-direction: column;
  align-items: center;
}

.button.primary {
  min-width: 169px;
  height: 56px;
  border: none;
}

/* 
SECTION 2 

*/
.feature.section {
  padding: 120px 0;
}
.feature-item .list-title {
  margin-bottom: 8px;
}

.feature-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  width: calc((100% - 24px * 3) / 4);
}
/* 

SECTION3 

*/
.products.section {
  padding-bottom: 120px;
}
.products .section-title,
.team-section .section-title {
  margin-bottom: 72px;
}
.products .container {
  flex-direction: column;
}

.products-list {
  display: flex;
  gap: 24px;
}
.products-item {
  width: calc((100% - 48px) / 3);
}
/* 
section 4
 */
/* секція команда */
.team-section {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-section .container {
  flex-direction: column;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-worker {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}

.name-pos {
  padding: 32px 0;
}
.name-pos .list-title {
  text-align: center;
  margin-bottom: 8px;
}

.name-pos .list-text {
  text-align: center;
}
/*

FOOTER
 */

.footer .container {
  display: block;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/*  */
/* PORTFOLIO */
.container.buttons {
  flex-direction: column;
}
.section.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.secondary.button {
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
}
.secondary.button:hover,
.secondary.button:focus {
  border: 1px solid transparent;
}

.container.buttons {
  justify-content: center;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.examples-list li {
  width: calc((100% - 48px) / 3);
}
.examp-cont {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.examp-cont h2 {
  margin-bottom: 8px;
}

/* кнопки */
.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.button.primary {
  color: var(--white);
  background: var(--iris);
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}

.button.secondary {
  color: var(--iris);
  background-color: var(--cloud);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* заголовки 2 */
.section-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
/* заголовки 3 */
.list-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
/* заголовки 4 */
.list-text {
  letter-spacing: 0.32px;
  line-height: 1.5;
  color: var(--slate);
}
